* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.conteiner_1 {
    padding: 16px 350px;
    height: 70vh;
    background-color: #4A7856;
    color: #F5F1EB;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

.logotip {
    font-size: 24px;
    font-weight: bold;
}

.logo-photo {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    gap: 150px;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-side button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
}

.left-side p {
    font-size: 18px;
}

.left-side h1 {
    font-size: 48px;
}

.img img {
    width: 600px;
    height: auto;
    flex-shrink: 0;
}


.conteiner_2 {
    background-color:#F4C542;
    padding: 50px 0px;
    /* margin-bottom: 100px; */

}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information h2 {
    margin: 50px;
}

.card_side {
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    max-width: 150px;
    text-align: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.conteiner_3 {
    padding: 150px 450px;
    background-color: #8FA8A7;
}

.quote {
    font-size: 36px;
    color: #1f2637;
}

.p1 {
    font-weight: 300;
}

.p2 {
    font-weight: 900;
    margin-top: 20px;
    text-align: end;
}

.conteiner_4 {
    padding: 100px 350px;
    background-color: #F4C542;
}

.auto_box {
    height: 90px;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 30px; */
    color: #f9faf8;
}

.auto_box button {
    width: 120px;
    height: 40px;
    border: 1px solid #f9faf8;
    border-radius: 10px;
    background-color:#3882f6;
    color: #f9faf8;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    /* width: auto; */
    height: 100px;
    background-color: #4A7856;
}